.advantages {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $base-blue;
  
  padding: 20px 287px;
}

.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $light-grey;
  border-radius: 16px;
  padding: 30px;
}

.a-wrapper {
  width: 1340px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;

  &__title {
    grid-column: 1 / -1;
    background-color: $light-grey;
    color: $dark-blue;
    margin: 0;
    padding: 30px 50px;
    font-family: $pop-font;
    font-weight: 500;
    font-size: 42px;
    border-radius: 16px;
    text-transform: uppercase;
  }

  &__img {
    margin-bottom: 12px;
  }

  &__minorTitle {
    margin-bottom: 10px;
    background-color: $light-grey;
    text-transform: uppercase;
    color: $dark-blue;
    font-family: $pop-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  &__minorText {
    font-family: $rob-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $black;
  }
}

