.FAQ {
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  &__header {
    text-transform: uppercase;
    font-family: $pop-font;
    font-size: 42px;
    font-weight: 500;
    line-height: 63px;
    color: $dark-blue;
    margin: 50px 0 20px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__form {
    color: $light-grey;
    background-color: $dark-blue;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 544px;
  }
}

.question {
  border: 1px solid $dark-blue;
  border-radius: 16px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $rob-font;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 0 0;
    color: $dark-grey;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-family: $rob-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $dark-grey;
  }

  &__divider {
    width: 612px;
    height: 1px;
    background-color: $dark-blue;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
  }

  &__button {
    background-color: $dark-blue;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-grey;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-header {
  text-transform: uppercase;
  font-family: $pop-font;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: $light-grey;
}

.form-divider {
  width: 424px;
  height: 1px;
  background-color: $light-grey;
  display: block;
  margin: 40px 0;
}

.FAQ-form__button {
  width: 213px;
  border-radius: 14px;
  background-color: $light-grey;
  color: $dark-blue;
  text-align: center;
  font-family: $pop-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  height: 58px;
  margin-left: 90px;
}

.form__input {
  background-color: $light-grey;
  color: $dark-grey;
  font-family: $rob-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  height: 64px;
  width: 424px;
  border: 1px solid $border-gray;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 14px;
}

.form__input-text {
  background-color: $light-grey;
  color: $dark-grey;
  font-family: $rob-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  height: 114px;
  width: 424px;
  text-align: left;
  border: 1px solid $border-gray;
  border-radius: 4px;
  margin-bottom: 40px;
  padding-left: 14px;
}

.FAQ-form {
    align-items: center;
}
