//Шрифти
$rob-font: "Roboto", Arial, serif;
$pop-font: "Poppins", Tahoma, sans-serif;

//Кольори
$dark-blue: #003366;
$base-blue: #E0E7EF;
$pale-blue: #EFF3F7;
$black: #000;
$dark-grey: #343434;
$light-grey: #FBFBFB;
$border-gray: #ECECEC;
$role-gray: #6B6B6B;
$scroller-gray: #BFCCD8;
$button-gray: #C2D1E0;
